.d{
    &-none{
        display: none !important;
    }
    &-sm-none{
        @media (min-width: 576px){
            display: none !important;
        }
    }
    &-md-none{
        @media (min-width: 768px){
            display: none !important;
        }
    }
    &-lg-none{
        @media (min-width: 992px){
            display: none !important;
        }
    }
    &-xl-none{
        @media (min-width: 1200px){
            display: none !important;
        }
    }
    &-xxl-none{
        @media (min-width: 1400px){
            display: none !important;
        }
    }
    &-block{
        display: block !important;
    }
    &-sm-block{
        @media (min-width: 576px){
            display: block !important;
        }
    }
    &-md-block{
        @media (min-width: 768px){
            display: block !important;
        }
    }
    &-lg-block{
        @media (min-width: 992px){
            display: block !important;
        }
    }
    &-xl-block{
        @media (min-width: 1200px){
            display: block !important;
        }
    }
    &-xxl-block{
        @media (min-width: 1400px){
            display: block !important;
        }
    }
    &-flex{
        display: flex !important;
    }
    &-sm-flex{
        @media (min-width: 576px){
            display: flex !important;
        }
    }
    &-md-flex{
        @media (min-width: 768px){
            display: flex !important;
        }
    }
    &-lg-flex{
        @media (min-width: 992px){
            display: flex !important;
        }
    }
    &-xl-flex{
        @media (min-width: 1200px){
            display: flex !important;
        }
    }
    &-xxl-flex{
        @media (min-width: 1400px){
            display: flex !important;
        }
    }
};


.black-backdrop{
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.8);
    opacity: 0;
    animation: backdropAnimation 0.3s ease forwards;
    backdrop-filter: blur(10px);
}
@keyframes backdropAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
